<%- include("partials/header") %>



<body class="dt">
<div id="con" class="container">

    <div class="imgBx"><img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,b_rgb:f5f5f5/16775526-718f-41dd-9106-40b94898b722/%E0%B8%A3%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B9%89%E0%B8%B2-air-jordan-1-mid-BpARGV.jpg"></div>
    <div class="details">

        <div class="content">
            <h2 class="a2">Name<br></h2><span class="sp">รายละเอียด</span>
            <p>รายละเอียด</p>
            <h3 class="a3">$150.99
            <button class="btn btn-outline-secondary">Buy Now</button></h3>
        </div>

    </div>

</div>
</body>
<%- include("partials/footer") %>